@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Pacifico&display=swap');

*{
  font-family: "Lilita One", sans-serif;
  margin:0; padding:0; box-sizing:border-box;
}

body{
  background: linear-gradient(135deg, #fde2e4,#fff1c1,#e6f4ea);
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.form{
  background:white;
  padding:50px 40px;
  border-radius:10px;
  width:420px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.brand{
  font-family:"Pacifico", cursive;
  color:#f4b9e8;
  text-align:center;
  font-size:30px;
}

h2{
  text-align:center;
}

/* INPUT GROUP */
.input-group{
  position:relative;
}

.input-group input{
  width:100%;
  padding:16px 45px 16px 16px; /* bigger padding */
  border:1px solid #ccc;
  border-radius:8px;
  outline:none;
  font-size:14px;
  transition:0.3s;
}

.input-group input:focus{
  border-color:#b6fdcf;
}

/* Eye icon */
.eye-icon{
  position:absolute;
  right:15px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  color:#aaa;
}

/* Button */
button{
  padding:14px;
  border:none;
  border-radius:8px;
  background:#3e7cdf;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#1e5ef5;
}

/* Messages */
.error{
  color:red;
  font-size:14px;
  text-align:center;
}

.success{
  color:green;
  font-size:14px;
  text-align:center;
}

a{
  color:#47a7f5;
  text-decoration:none;
}